nav {
    border-bottom: 0.5px solid lightslategrey; 
    height: 60px;
}
#brand {
color: maroon;
}
.nav-item {
    padding: auto;
}
.nav-item:hover {
    border-bottom: 2px solid #3399FF;
}
.navFab {
    font-size: 14px;
    margin: 4px;
}
#socialList li{
    display: inline;
}

#socialList {
    padding: 0px;
    margin: 0px;
}
