.registerForm {
    width: 50%;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
    margin : 0 auto;
    padding: 20px;
}
#rowHeader {
    display: initial;
    text-align: center;
}
#createHeader {
    color: maroon;
    font-weight: 300;
 }