.footerHeader {
    color: maroon;
}
/* .column {
    width: 20%;
} */
#joinHeader {
    font-size: 10px;
}
.footerFab {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  .fa-facebook {
    color:#3b5998;
  }
  .fa-twitter {
    color: #38A1F3;
  }
  .fa-instagram {
      color: #e4405f;
  }
  li {
    list-style: none;
  }
  .fa-caret-right{
    font-size: 12px;
  }
  .navlink {
    color: rgb(40,40,40);
    font-size: 14px;
  }
  .navlink:hover{
    color: rgb(128,128,128);
  }